<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AgeAuth - Age Verification Redirect Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css">
</head>
<body>
    <div class="center-div">
            <p style="font-size: 30px; width: 50%; margin-left: 25%; margin-top: 5%;">
                You have been redirected by the AgeAuth Age Verification software  
            </p>
            
            <p style="font-size: 30px; width: 50%; margin-left: 25%; margin-top: 5%;">
            One of the following happened on the webpage you were previously on:

                <ul style="font-size: 25px; width: 50%; margin-left: 25%;">
                    <li>The facial recognition software determined you were under 18</li>
                    <li>You refused to use the age verification process</li>
                    <li>The age verification process failed </li>
                </ul>  
            </p>

            <p style="font-size: 30px; width: 50%; margin-left: 25%;">
                Age verification is completed using facial recognition technology. Here are some answers to some
                concerns you may have:                
                
                <ul style="font-size: 25px; width: 50%; margin-left: 25%;">
                    <li>The photo taken of you has already been deleted</li>
                    <li>All functionality was run locally</li>
                    <li>The predicted age is very experimental, do not be insulted as the machine
                        learning process is very early in development</li>
                </ul> 
            </p>
    </div>
</body>
</html>